* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-image: url("./assets/img/tomas-navikas-closed-doors.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

:root {
  --color-text: #2a7bf4;
  --color-white: #fff;
  --color-bg: #002966;
  --color-hover: #2a5ca7
}
